@import "../bourbon/bourbon";
@import "../variables";
@import "../animations";

@mixin clearfix() {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absoluteFullWidth() {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.loadingPage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: $mainColor;
  font-size: 32px;
  @include fadeInAnimation();

  &__imagesContainer {
    display: none;
  }
}

.welcomePage {
  display: flex;
  width: 70%;
  height: 100%;
  margin: 0 auto;
  @include fadeInAnimation();

  &__column {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
  }

  &__columnTop,
  &__columnBottom {
    display: flex;
    flex-direction: column;
    flex: 1;

    &--alignBottom {
      justify-content: flex-end;
    }
  }
  .dashed-delimiter {
    border-left: $borderWidth dotted $green;
    height: 95vh;
    position: relative;
    top: 2.5vh;
  }
  h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: $mainColor;
  }
  h3 {
    font-size: 24px;
    color: $mainColor;
    font-weight: bold;
    margin-bottom: 20px;
  }
  p {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 15px;
  }
  .big-text {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 0;
  }
}

.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: $backgroundColor;

  &__header,
  &__footer {
    height: $headerHeight;
    display: flex;
    flex-direction: column;
    color: $mainColor;
    font-size: 11.8px;
    text-align: center;
  }

  &__header {
    justify-content: flex-end;
  }

  &__footer {
    justify-content: center;
    align-items: center;
    line-height: 16px;
    padding: 0 10px;
  }

  &__content {
    flex: 1;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .pageLogo {
    width: 9%;
    position: absolute;
    left: $headerHeight;
    top: 15px;
    z-index: 10;
  }

  .diversityProfile {
    position: absolute;
    left: 0px;
    bottom: -$headerHeight;
  }

  .diversityScore {
    position: absolute;
    right: 30px;
    bottom: -20px;
  }
}

.horizontalDottedDelimiter {
  border: none;
  border-top: $borderWidth dotted $green;
  color: $backgroundColor;
  background-color: $backgroundColor;
  height: 1px;
  width: 100%;
  margin: 5px 0;
}

.row {
  display: flex;

  &__column {
    width: calc(12.5% - 10px);
    margin: 0 10px;
  }
}

.answersCompareContainer {
  margin-top: 25px;
  text-align: center;
  transform: translateY(50px) scale(0);
  opacity: 0;
  animation: pop-up 0.6s cubic-bezier(0.27,0.53,0.28,1.58) forwards;
  animation-delay: 400ms;

  &__btn {
    width: 40%;
    display: inline-block;
    background-color: lighten($green, 30);
    box-shadow: 0 0 12px $green;
    color: $green;
    padding: 10px 0px;
    border-radius: 12px;
    font-size: 1.6vw;
    line-height: 2vw;
    border: none;
    transition-duration: 300ms;
    outline: none;

    &:active {
      transform: scale(1.1);
    }
  }
}

circle-el {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 2;

  &.Ñongratulations {
    display: block;
    position: static;
    margin-top: 60px;

    .circleContainer {
      width: 37.5%;
      margin: 0 auto;
    }

    .circleContainer__content {
      max-width: calc(100% - 170px);
      padding-top: 18%;
      padding-bottom: 5%;
    }
  }

  &.hide-content {
    .circleContainer__content {
      display: none;
    }
  }

  &.long-animation-delay .circleContainer {
    animation-delay: 3100ms;
  }

  &.short-animation-delay .circleContainer {
    animation-delay: 0ms;
  }
}

.circleContainer {
  position: relative;
  width: 40%;
  border-radius: 50%;
  background-color: #fff;
  transform: translateY(50px) scale(0);
  opacity: 0;
  animation: pop-up 0.6s cubic-bezier(0.27,0.53,0.28,1.58) forwards;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 50%;
    left: 0px;
    right: 0px;
    top: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &__outerBorder {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    border-radius: 50%;
    border: $borderWidth dotted $green;
    display: flex;
    justify-content: center;
  }

  &__content {
    max-width: calc(100% - 170px);
    padding-top: 10%;
    padding-bottom: 4%;
    display: flex;
    flex-direction: column;
    @include fadeInAnimation();
  }

  &__heading {
    color: $mainColor;
    font-size: 56px;
    font-size: 2.9vw;
    line-height: 3vw;
    font-weight: normal;
    margin-bottom: 25px;
  }

  &__text p {
    color: $mainColor;
    margin-bottom: 15px;
    font-size: 24px;
    font-size: 1.4vw;
    line-height: 1.8vw;
    font-family: "AvantGardeRegular", Arial;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__text strong {
    font-size: 22px;
    font-size: 1.3vw;
    line-height: 1.7vw;
  }

  &__logoContainer {
    flex: 1 0 auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}

portrait-row {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  height: 33.333333%;

  portrait-col {
    width: calc(12.5% - 10px);
    margin-right: 10px;
    opacity: 0;

    &:last-child {
      width: 12.5%;
      margin-right: 0;
    }
  }

  &.first {
    top: 0;
  }

  &.second {
    top: $portraitRowSecond;
    height: $portraitRowHeight;
  }

  &.third {
    top: $portraitRowThird;
    height: $portraitRowHeight;
  }

  &.fade-animate {
    portrait-col {
      @for $i from 1 through 8 {
        &:nth-of-type( #{$i} ) {
          @include transform-origin(nth-origin($image-count, $i, 230px));
          @include animation(fadeIn 1.15s 0.1s*$i forwards cubic-bezier(0, 0.8, 0.4, 1));
          @include keyframes(fadeIn) {
            0% {
              opacity: 0;
              @include transform(scale(0.3));
            }
            100% {
              opacity: 1;
              @include transform(scale(1));
            }
          }
        }
      }
    }
  }
}

.quizContainer {
  @include absoluteFullWidth();
  display: flex;
  flex-direction: column;

  question {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1.6;
  }

  .answersTip {
    flex: 1;
  }
}

.answersContainer {
  width: 50%;
  max-width: 960px;
  margin: 0 auto;

  .answer {
    width: calc(33.333333% - 10px);
    float: left;
    margin: 0 5px;

    &:last-child {
      margin-right: 0;
    }
  }

  @include clearfix();
}

.answersTip {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 60%;
  margin: 0 auto;
  color: $green;
  font-size: 15px;
  font-size: 1.8vw;
  line-height: 2.2vw;
  margin-top: 35px;
  @include fadeInAnimation();
}

.answer {
  &__selectedText {
    font-family: Arial;
    text-transform: uppercase;
    color: transparent;
    font-weight: bold;
    margin-bottom: 4px;
  }

  &__desc {
    text-align: center;
    padding: 10px;
    color: $mainColor;
    max-width: calc(95% - 20px);
    margin: 10px auto 0 auto;
  }

  &__portrait {
    padding: 5px;
    max-width: calc(95% - 14px);
    margin: 0 auto;
    border: 2px solid transparent;
    opacity: 0;
    transition: all 200ms;
    @include patientsAnimation(3, 200px);
  }

  &--selected {
    .answer__portrait {
      max-width: calc(100% - 14px);
      border: 2px solid $green;
    }

    .answer__desc {
      border-radius: 8px;
      background-color: #f2f7ea;
      box-shadow: 0px 0px 8px $green;
      max-width: calc(100% - 20px);
    }

    .answer__selectedText {
      color: $green;
      opacity: 0;
      animation: pop-up 0.6s cubic-bezier(0.27,0.53,0.28,1) forwards;
    }
  }

  &__nextBtn {
    width: 160px;
    height: 46px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #bdbdbd;
    color: $mainColor;
    padding: 0px 20px;
    border-radius: 8px;
    line-height: 46px;
    font-size: 18px;
    transition-duration: 300ms;
    outline: none;

    &:active {
      transform: scale(1.1);
    }
  }
}

.diversityProfile {
  width: calc(100% - 340px);

  &__text {
    margin-bottom: 10px;
    margin-left: 10px;
    color: $green;
    font-family: Arial;
  }

  &__portraitContainer {
    width: 100%;
    @include clearfix();
  }

  &__portrait {
    max-width: 3.2%;
    margin-right: 5px;
    float: left;
    opacity: 0;

    @include transform-origin(nth-origin(1, 1, 60px));
    @include animation(fadeIn 1.15s 0.1s forwards cubic-bezier(0, 0.8, 0.4, 1));
    @include keyframes(fadeIn) {
      0% {
        opacity: 0;
        @include transform(scale(0.3));
      }

      100% {
        opacity: 1;
        @include transform(scale(1));
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.diversityScore {
  max-width: 230px;
  text-align: center;
  background-color: #fff;
  border-radius: 16px;
  border: 3px solid $green;
  color: $mainColor;
  padding: 15px 20px;

  &__text {
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 24px;
    white-space: nowrap;
  }

  &__score {
    font-weight: bold;
    font-size: 7vw;
    font-family: Arial;
    line-height: 6.8vw;
    display: flex;
    justify-content: center;
  }

  &__number {
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.gameResultsHeading {
  color: $mainColor;
  font-size: 42px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 25px;
}

.gameResultsTableLoader {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $mainColor;
  font-size: 32px;
  position: absolute;
  width: 100%;
  height: calc(100% - 180px);
  @include fadeInAnimation();
}

.gameResultsTable {
  color: $mainColor;

  thead th {
    text-transform: uppercase;
    text-align: left;
    padding-bottom: 20px;
    border-bottom: 10px solid #fff;

    &:first-child, &:last-child {
      text-align: center;
    }
  }

  &__result {
    text-align: center;

    td {
      border-bottom: 10px solid #fff;
      padding: 20px 0;
      vertical-align: middle;
    }

    &:first-child td {
      vertical-align: top;
    }

    &--myResult {
      background-color: #d0e1c2;

      .gameResultsTable__resultScore {
        color: $mainColor;
      }
    }
  }

  &__patients {
    display: flex;
    flex-wrap: wrap;

    > div {
      width: 8%;
      margin: 5px;
      opacity: 0;
    }

    @for $i from 1 through 27 {
      &--score#{$i} {
        > div {
          @include patientsAnimation($i, 100px);
        }
      }
    }
  }

  &__resultPlace,
  &__resultScore {
    color: $green;
    font-weight: bold;
    font-family: AvantGardeBold, AvantGardeMedium, Arial;
  }

  &__resultPlace {
    font-size: 30px;
    font-size: 2.4vw;
  }

  &__resultPlace--myResult {
    position: relative;

    .circleContainer {
      width: 80%;
    }

    .circleContainer__content {
      max-width: 100%;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .circleContainer__heading {
      font-size: 26px;
      font-size: 2vw;
      line-height: 2.2vw;
      margin-bottom: 5px;
      text-transform: uppercase;
      font-family: AvantGardeRegular, AvantGardeMedium, Arial;
    }

    .circleContainer__text {
      color: $mainColor;
      font-size: 30px;
      font-size: 2.7vw;
      line-height: 2.9vw;
      font-weight: bold;
      font-family: AvantGardeBold, AvantGardeMedium, Arial;
    }
  }

  &__resultScore {
    font-size: 34px;
    font-size: 2.8vw;
  }
}

@media screen and (min-width: 767px) {
  .welcomePage {
    h1 {
      font-size: 58px;
      margin-bottom: 20px;
    }

    .big-text {
      font-size: 23px;
      line-height: 31px;
    }

    p {
      font-size: 17px;
      line-height: 23px;
    }

    h3 {
      font-size: 26px;
      line-height: 30px;
    }

    &__column {
      padding: 0 50px;
    }
  }

  .circleContainer__heading {
    font-size: 36px;
    line-height: 42px;
  }

  .circleContainer__text p {
    font-size: 18px;
    line-height: 24px;
  }

  .circleContainer__logoContainer img {
    max-width: 80%;
    margin: 0 auto;
  }

  .answer__nextBtn {
    width: 175px;
    height: 50px;
    line-height: 50px;
    font-size: 19px;
  }

  .gameResultsHeading {
    font-size: 38px;
  }
}

@media screen and (min-width: 1440px) {
  .welcomePage {
    h1 {
      font-size: 82px;
      line-height: 82px;
      margin-bottom: 35px;
    }

    .big-text {
      font-size: 26px;
      line-height: 36px;
    }

    p {
      font-size: 20px;
      line-height: 26px;
    }

    h3 {
      font-size: 28px;
      line-height: 32px;
    }

    &__column:first-child {
      padding: 0 30px 0 70px;
    }

    &__column:last-child {
      padding: 0 0px 0 100px;
    }
  }

  .circleContainer__heading {
    font-size: 52px;
    line-height: 56px;
  }

  .circleContainer__text p {
    font-size: 28px;
    line-height: 34px;
  }

  .circleContainer__logoContainer img {
    max-width: 90%;
    margin: 0 auto;
  }

  .answer__nextBtn {
    width: 180px;
    height: 56px;
    line-height: 56px;
    font-size: 20px;
  }

  .gameResultsHeading {
    font-size: 42px;
  }
}

.topButton {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 300ms;
  outline: none;
  border: none;
  @include fadeInAnimation();

  img {
    max-width: 35px;
  }

  &:active {
    transform: scale(1.1);
  }
}