$headerHeight: 50px;
$portraitRowSecond: calc(33.333333% + 10px);
$portraitRowThird: calc(33.333333% + 33.333333% + 10px);
$portraitRowHeight: calc(33.333333% - 10px);
$green: #7ebe71;
$mainColor: #37225c;
$backgroundColor: #f2f1f1;
$borderWidth: 8px;

@mixin clearfix() {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absoluteFullWidth() {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.welcomePage {
  display: flex;
  width: 70%;
  height: 100%;
  margin: 0 auto;

  &__column {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
  }

  &__columnTop,
  &__columnBottom {
    display: flex;
    flex-direction: column;
    flex: 1;

    &--alignBottom {
      justify-content: flex-end;
    }
  }
  .dashed-delimiter {
    border-left: $borderWidth dotted $green;
    height: 95vh;
    position: relative;
    top: 2.5vh;
  }
  h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: $mainColor;
  }
  h3 {
    font-size: 24px;
    color: $mainColor;
    font-weight: bold;
    margin-bottom: 20px;
  }
  p {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 15px;
  }
  .big-text {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 0;
  }
}

.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: $backgroundColor;

  &__header,
  &__footer {
    height: $headerHeight;
    display: flex;
    flex-direction: column;
    color: $mainColor;
    font-size: 12px;
    text-align: center;
  }

  &__header {
    justify-content: flex-end;
  }

  &__footer {
    justify-content: center;
    align-items: center;
    line-height: 16px;
    padding: 0 10px;
  }

  &__content {
    flex: 1;
    position: relative;
    background: $backgroundColor url("../assets/equalizer.png") center center no-repeat;
    background-size: contain;

    &--withoutBg {
      background: none;
    }
  }

  &--withGameScore {

  }

  &--briefing {

  }

  .pageLogo {
    width: 9%;
    position: absolute;
    left: $headerHeight;
    top: 15px;
  }

  .diversityProfile {
    position: absolute;
    left: 0px;
    bottom: -$headerHeight;
  }

  .diversityScore {
    position: absolute;
    right: 30px;
    bottom: -35px;
  }
}

.horizontalDottedDelimiter {
  border: none;
  border-top: $borderWidth dotted $green;
  color: $backgroundColor;
  background-color: $backgroundColor;
  height: 1px;
  width: 100%;
  margin: 5px 0;
}

.row {
  display: flex;

  &__column {
    width: calc(12.5% - 10px);
    margin: 0 10px;
  }
}

.answersCompareContainer {
  margin-top: 25px;
  text-align: center;

  &__btn {
    width: 40%;
    display: inline-block;
    background-color: lighten($green, 30);
    box-shadow: 0 0 12px $green;
    color: $green;
    padding: 10px 0px;
    border-radius: 12px;
    font-size: 1.6vw;
    line-height: 2vw;
  }
}

.circleWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 2;

  &--Ñongratulations {
    display: block;
    position: static;
    margin-top: 60px;

    .circleContainer {
      width: 37.5%;
      margin: 0 auto;
    }

    .circleContainer__logoContainer img {
      //max-width: 85%;
    }

    .circleContainer__content {
      max-width: calc(100% - 180px);
      padding-top: 18%;
      padding-bottom: 4%;
    }
  }
}

.circleContainer {
  position: relative;
  width: 40%;
  border-radius: 50%;
  background-color: #fff;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 50%;
    left: 0px;
    right: 0px;
    top: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &__outerBorder {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    border-radius: 50%;
    border: $borderWidth dotted $green;
    display: flex;
    justify-content: center;
  }

  &__content {
    max-width: calc(100% - 180px);
    padding-top: 10%;
    padding-bottom: 4%;
    display: flex;
    flex-direction: column;
  }

  &__heading {
    color: $mainColor;
    font-size: 56px;
    font-size: 2.9vw;
    line-height: 3vw;
    font-weight: normal;
    margin-bottom: 20px;
  }

  &__text p {
    color: $mainColor;
    margin-bottom: 15px;
    font-size: 24px;
    font-size: 1.4vw;
    line-height: 1.8vw;
    font-family: "AvantGardeRegular", Arial;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__logoContainer {
    flex: 1 0 auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}

.portraitRow {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  height: 33.333333%;

  &__col {
    width: calc(12.5% - 10px);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-right: 10px;

    &:last-child {
      width: 12.5%;
      margin-right: 0;
    }
  }

  &--first {
    top: 0;
  }

  &--second {
    top: $portraitRowSecond;
    height: $portraitRowHeight;
  }

  &--third {
    top: $portraitRowThird;
    height: $portraitRowHeight;
  }
}

.quizContainer {
  @include absoluteFullWidth();
  display: flex;
  flex-direction: column;

  .question {
    flex: 1.6;
  }

  .answersContainer {
    //flex: 2;
  }

  .answersTip {
    flex: 1;
  }
}

.question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  color: $mainColor;

  &__title {
    font-size: 34px;
    font-size: 5.2vw;
  }

  &__subtitle {
    font-size: 16px;
    font-size: 3.2vw;
  }
}

.answersContainer {
  width: 50%;
  max-width: 960px;
  margin: 0 auto;

  .answer {
    width: calc(33.333333% - 10px);
    float: left;
    margin: 0 5px;

    &:last-child {
      margin-right: 0;
    }
  }

  &--hasSelectedAnswer {
    .answer:not(.answer--selected) {
      .answer__portrait {
        //width: 90%;
        //padding: 0;
      }
    }
  }

  @include clearfix();
}

.answersTip {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 60%;
  margin: 0 auto;
  color: $green;
  font-size: 15px;
  font-size: 1.8vw;
  line-height: 2.2vw;
  margin-top: 35px;
}

.answer {
  &__selectedText {
    font-family: Arial;
    text-transform: uppercase;
    color: transparent;
    font-weight: bold;
    margin-bottom: 4px;
  }

  &__desc {
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    color: $mainColor;
  }

  &__portrait {
    padding: 5px;
    //max-width: calc(90% - 14px);
    max-width: calc(100% - 14px);
    margin: 0 auto;
    border: 2px solid transparent;
  }

  &--selected {
    .answer__portrait {
      //max-width: calc(100% - 14px);
      border: 2px solid $green;
    }

    .answer__desc {
      border-radius: 8px;
      background-color: #f2f7ea;
      box-shadow: 0px 0px 8px $green;
    }

    .answer__selectedText {
      color: $green;
    }
  }

  &__nextBtn {
    width: 160px;
    height: 46px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #bdbdbd;
    color: $mainColor;
    padding: 0px 20px;
    border-radius: 8px;
    line-height: 46px;
    font-size: 18px;
  }
}

.diversityProfile {
  width: calc(100% - 340px);

  &__text {
    margin-bottom: 10px;
    margin-left: 10px;
    color: $green;
    font-family: Arial;
  }

  &__portraitContainer {
    width: 100%;
    @include clearfix();
  }

  &__portrait {
    max-width: 3.2%;
    margin-right: 5px;
    float: left;

    &:last-child {
      margin-right: 0;
    }
  }
}

.diversityScore {
  max-width: 230px;
  text-align: center;
  background-color: #fff;
  border-radius: 16px;
  border: 3px solid $green;
  color: $mainColor;
  padding: 15px 20px;

  &__text {
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 24px;
    white-space: nowrap;
  }

  &__score {
    font-weight: bold;
    font-size: 7vw;
    font-family: Arial;
    line-height: 6.8vw;
    display: flex;
    justify-content: center;
  }

  &__number {
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.gameResultsHeading {
  color: $mainColor;
  font-size: 34px;
  font-size: 2.8vw;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 25px;
}

.gameResultsTable {
  color: $mainColor;

  thead th {
    text-transform: uppercase;
    text-align: left;
    padding-bottom: 20px;
    border-bottom: 10px solid #fff;

    &:first-child, &:last-child {
      text-align: center;
    }
  }

  &__result {
    text-align: center;

    td {
      border-bottom: 10px solid #fff;
      padding: 20px 0;
      vertical-align: middle;
    }

    &:first-child td {
      vertical-align: top;
    }

    &--myResult {
      background-color: #d0e1c2;

      .gameResultsTable__resultScore {
        color: $mainColor;
      }
    }
  }

  &__patients {
    display: flex;
    flex-wrap: wrap;

    > div {
      width: 8%;
      margin: 5px;
    }
  }

  &__resultPlace,
  &__resultScore {
    color: $green;
    font-weight: bold;
  }

  &__resultPlace {
    font-size: 30px;
    font-size: 2.4vw;
  }

  &__resultPlace--myResult {
    position: relative;

    .circleContainer {
      width: 80%;
    }

    .circleContainer__content {
      max-width: 100%;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .circleContainer__heading {
      font-size: 26px;
      font-size: 2vw;
      line-height: 2.2vw;
      margin-bottom: 0px;
    }

    .circleContainer__text {
      color: $mainColor;
      font-size: 32px;
      font-size: 2.8vw;
      line-height: 3vw;
      font-weight: bold;
    }
  }

  &__resultScore {
    font-size: 34px;
    font-size: 2.8vw;
  }
}

@media screen and (min-width: 767px) {
  .welcomePage {
    h1 {
      font-size: 58px;
    }

    .big-text {
      font-size: 21px;
      line-height: 27px;
    }

    p {
      font-size: 17px;
      line-height: 23px;
    }

    h3 {
      font-size: 26px;
      line-height: 30px;
    }

    &__column {
      padding: 0 50px;
    }
  }

  .circleContainer__heading {
    font-size: 36px;
    line-height: 42px;
  }

  .circleContainer__text p {
    font-size: 18px;
    line-height: 22px;
  }

  .circleContainer__logoContainer img {
    max-width: 80%;
    margin: 0 auto;
  }

  .question {
    &__title {
      font-size: 68px;
      line-height: 82px;
    }

    &__subtitle {
      font-size: 42px;
      line-height: 46px;
    }
  }
}

@media screen and (min-width: 1440px) {
  .welcomePage {
    h1 {
      font-size: 82px;
    }

    .big-text {
      font-size: 24px;
      line-height: 30px;
    }

    p {
      font-size: 20px;
      line-height: 26px;
    }

    h3 {
      font-size: 28px;
      line-height: 32px;
    }

    &__column:first-child {
      padding: 0 70px 0 100px;
    }

    &__column {
      padding: 0 100px;
    }
  }

  .circleContainer__heading {
    font-size: 52px;
    line-height: 56px;
  }

  .circleContainer__text p {
    font-size: 28px;
    line-height: 32px;
  }

  .circleContainer__logoContainer img {
    max-width: 90%;
    margin: 0 auto;
  }

  .question {
    &__title {
      font-size: 82px;
      line-height: 96px;
    }

    &__subtitle {
      font-size: 54px;
      line-height: 58px;
    }
  }
}