<div class="welcomePage"
     (click)="nextStep()"
     *ngIf="currentPageIndex === 0">
  <div class="welcomePage__column">
    <div class="welcomePage__columnTop welcomePage__columnTop--alignBottom">
      <h1>What type<br>of diabetes<br>patients do<br>you see?</h1>
    </div>
    <div class="welcomePage__columnBottom">
      <p class="big-text">
        In a picture quiz format, clinicians<br>are asked to select patients
        that are<br>typical of their practice.<br>More than one selection is allowed.<br>After the interaction clinicians can<br>compare their results with those of<br>their colleagues.
      </p>
    </div>
  </div>
  <div class="dashed-delimiter"></div>
  <div class="welcomePage__column">
    <div class="welcomePage__columnTop"></div>
    <div class="welcomePage__columnBottom">
      <h3>How the game works</h3>
      <p>
        Clinicians are asked to touch the screen to start the game. They are then shown images of three di erent patients whose speci c clinical characteristics are provided. This clinician is asked to tap on the faces of patients that are typical of those found in their clinic’s patient population.
      </p>
      <p>
        After completing the screens, all the faces selected appear
        on a screen. A diversity score is supplied and whatever their  nal score, each participant is reminded that unlike controlled clinical trials in which patients are carefully  ltered, real life studies obtain results from populations that re ect those found in everyday clinical practice.
      </p>
    </div>
  </div>
</div>
<div
    (click)="nextStep()"
    class="pageContainer pageContainer--briefing pageContainer--withGameScore"
    *ngIf="currentPageIndex === 1">
  <div class="pageContainer__header">
    <hr class="horizontalDottedDelimiter" />
  </div>
  <div class="pageContainer__content pageContainer__content--withoutBg">
    <div class="portraitRow portraitRow--first">
      <div class="portraitRow__col"
           [ngStyle]="{'background-image': 'url(assets/p1_1.jpg)'}"></div>
      <div class="portraitRow__col"
           [ngStyle]="{'background-image': 'url(assets/p1_2.jpg)'}"></div>
      <div class="portraitRow__col"
           [ngStyle]="{'background-image': 'url(assets/p1_3.jpg)'}"></div>
      <div class="portraitRow__col"
           [ngStyle]="{'background-image': 'url(assets/p1_1.jpg)'}"></div>
      <div class="portraitRow__col"
           [ngStyle]="{'background-image': 'url(assets/p1_2.jpg)'}"></div>
      <div class="portraitRow__col"
           [ngStyle]="{'background-image': 'url(assets/p1_3.jpg)'}"></div>
      <div class="portraitRow__col"
           [ngStyle]="{'background-image': 'url(assets/p1_1.jpg)'}"></div>
      <div class="portraitRow__col"
           [ngStyle]="{'background-image': 'url(assets/p1_2.jpg)'}"></div>
    </div>
    <div class="portraitRow portraitRow--second">
      <div class="portraitRow__col"
           [ngStyle]="{'background-image': 'url(assets/p1_3.jpg)'}"></div>
      <div class="portraitRow__col"
           [ngStyle]="{'background-image': 'url(assets/p1_2.jpg)'}"></div>
      <div class="portraitRow__col"
           [ngStyle]="{'background-image': 'url(assets/p1_1.jpg)'}"></div>
      <div class="portraitRow__col"
           [ngStyle]="{'background-image': 'url(assets/p1_3.jpg)'}"></div>
      <div class="portraitRow__col"
           [ngStyle]="{'background-image': 'url(assets/p1_2.jpg)'}"></div>
      <div class="portraitRow__col"
           [ngStyle]="{'background-image': 'url(assets/p1_1.jpg)'}"></div>
      <div class="portraitRow__col"
           [ngStyle]="{'background-image': 'url(assets/p1_2.jpg)'}"></div>
      <div class="portraitRow__col"
           [ngStyle]="{'background-image': 'url(assets/p1_3.jpg)'}"></div>
    </div>
    <div class="portraitRow portraitRow--third">
      <div class="portraitRow__col"
           [ngStyle]="{'background-image': 'url(assets/p1_2.jpg)'}"></div>
      <div class="portraitRow__col"
           [ngStyle]="{'background-image': 'url(assets/p1_3.jpg)'}"></div>
      <div class="portraitRow__col"
           [ngStyle]="{'background-image': 'url(assets/p1_1.jpg)'}"></div>
      <div class="portraitRow__col"
           [ngStyle]="{'background-image': 'url(assets/p1_2.jpg)'}"></div>
      <div class="portraitRow__col"
           [ngStyle]="{'background-image': 'url(assets/p1_3.jpg)'}"></div>
      <div class="portraitRow__col"
           [ngStyle]="{'background-image': 'url(assets/p1_1.jpg)'}"></div>
      <div class="portraitRow__col"
           [ngStyle]="{'background-image': 'url(assets/p1_2.jpg)'}"></div>
      <div class="portraitRow__col"
           [ngStyle]="{'background-image': 'url(assets/p1_3.jpg)'}"></div>
    </div>
    <div class="circleWrapper">
      <div class="circleContainer">
        <div class="circleContainer__inner">
          <div class="circleContainer__outerBorder">
            <div class="circleContainer__content">
              <h3 class="circleContainer__heading">
                What type of<br>patients do you see?
              </h3>
              <div class="circleContainer__text">
                <p>
                  Please look at the following screens to see if any of the
                  patient characteristics described t the pro le of patients in
                  your care.
                </p>
                <p>
                  <strong>More than one answer can be selected</strong><br>on
                  each
                  screen.</p>
                <p>
                  At the end of the activity, you will be able to compare your
                  answers with those of your colleagues.
                </p>
              </div>
              <div class="circleContainer__logoContainer">
                <img src="assets/logo.png" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pageContainer__footer pageContainer__footer--withoutRefInfo">
    <hr class="horizontalDottedDelimiter" />
    <span>Toujeo® (insulin glargine 300 U/mL) is registered in Portugal but not marketed. Toujeo® (insulin glargine 300 U/mL) está registado em Portugal mas não é comercializado. Always refer to the prescribing information available in your country. Prescribing information is available at this booth. SAGLB.TJO.17.07.0790 August 2017</span>
  </div>
</div>

<div class="pageContainer" *ngIf="currentPageIndex === 2" [class.pageContainer--quiz]="currentPageIndex === 2">
  <div class="pageContainer__header">
    <hr class="horizontalDottedDelimiter" />
  </div>
  <div class="pageContainer__content">
    <div class="pageLogo">
      <img src="assets/logo.png" />
    </div>
    <div class="quizContainer">
      <div class="question">
        <p class="question__title">{{question.title}}</p>
        <p class="question__subtitle">{{question.subtitle}}</p>
      </div>
      <div class="answersContainer" [class.answersContainer--hasSelectedAnswer]="hasSelectedAnswers">
        <div class="answer" *ngFor="let answer of question.answers; let index = index" [class.answer--selected]="answer.selected" (click)="toggleSelected(index)">
          <div class="answer__portrait">
            <img [src]="answer.portrait" />
          </div>
          <div class="answer__desc">
            <p class="answer__selectedText">Selected</p>
            <span [innerHTML]="answer.desc"></span>
          </div>
        </div>
      </div>
      <div class="answersTip">
        <span [hidden]="hasSelectedAnswers">
          Tap on the face (or faces) of those you<br>typically see in clinical practice.
        </span>
        <button class="answer__nextBtn" [hidden]="!hasSelectedAnswers" (click)="nextQuestion()">Next question</button>
      </div>
    </div>
    <div class="diversityProfile" [hidden]="diversityProfile.length === 0">
      <p class="diversityProfile__text">Your diversity profile</p>
      <div class="diversityProfile__portraitContainer">
        <img *ngFor="let profile of diversityProfile" [src]="profile" class="diversityProfile__portrait">
      </div>
    </div>
    <div class="diversityScore" (click)="nextStep()">
      <p class="diversityScore__text">Diversity score</p>
      <span class="diversityScore__score">
        <span class="diversityScore__number">0</span>
        <span class="diversityScore__number">0</span>
      </span>
    </div>
  </div>
  <div class="pageContainer__footer pageContainer__footer--withoutRefInfo">
    <hr class="horizontalDottedDelimiter" />
    <!--<span>Ref information</span>-->
  </div>
</div>

<div class="pageContainer" *ngIf="currentPageIndex === 3">
  <div class="pageContainer__header">
    <hr class="horizontalDottedDelimiter" />
  </div>
  <div class="pageContainer__content">
    <div class="circleWrapper circleWrapper--сongratulations">
      <div class="circleContainer">
        <div class="circleContainer__inner">
          <div class="circleContainer__outerBorder">
            <div class="circleContainer__content">
              <h3 class="circleContainer__heading">
                Congratulations!
              </h3>
              <div class="circleContainer__text">
                <p>
                  As you know, the clinical characteristics of patients with
                  diabetes can vary considerably. In a typical practice, there
                  is no such thing as a typical patient. Ask one of the Sanofi
                  team if you have any questions about patients characteristics
                  and their relevance to your real-world experience.
                </p>
              </div>
              <div class="circleContainer__logoContainer">
                <img src="assets/logo.png" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="answersCompareContainer">
      <div class="answersCompareContainer__btn" (click)="nextStep()">
        See how your answers compare<br>with those of your colleagues
      </div>
    </div>
    <div class="diversityScore" (click)="nextStep()">
      <p class="diversityScore__text">Diversity score</p>
      <span class="diversityScore__score">
        <span class="diversityScore__number">0</span>
        <span class="diversityScore__number">8</span>
      </span>
    </div>
  </div>
  <div class="pageContainer__footer">
    <hr class="horizontalDottedDelimiter" />
    <span>Toujeo® (insulin glargine 300 U/mL) is registered in Portugal but not marketed. Toujeo® (insulin glargine 300 U/mL) está registado em Portugal mas não é comercializado. Always refer to the prescribing information available in your country. Prescribing information is available at this booth. SAGLB.TJO.17.07.0790 August 2017</span>
  </div>
</div>

<div class="pageContainer" *ngIf="currentPageIndex === 4">
  <div class="pageContainer__header">
    <hr class="horizontalDottedDelimiter" />
  </div>
  <div class="pageContainer__content pageContainer__content--withoutBg"
       (click)="resetStep()">
    <div class="gameResultsHeading">
      <span>How your answers compare<br>to your colleagues</span>
    </div>
    <table class="gameResultsTable" width="100%" cellpadding="0"
           cellspacing="0">
      <thead>
      <tr>
        <th width="15%">Position</th>
        <th>Patients</th>
        <th width="20%">Diversity score</th>
      </tr>
      </thead>
      <tbody>
      <tr class="gameResultsTable__result">
        <td class="gameResultsTable__resultPlace">1st</td>
        <td>
          <div class="gameResultsTable__patients">
            <div><img src="../assets/p1_1.jpg" /></div>
            <div><img src="../assets/p1_2.jpg" /></div>
            <div><img src="../assets/p1_3.jpg" /></div>
            <div><img src="../assets/p1_1.jpg" /></div>
            <div><img src="../assets/p1_2.jpg" /></div>
            <div><img src="../assets/p1_3.jpg" /></div>
            <div><img src="../assets/p1_1.jpg" /></div>
            <div><img src="../assets/p1_2.jpg" /></div>
            <div><img src="../assets/p1_3.jpg" /></div>
            <div><img src="../assets/p1_1.jpg" /></div>
            <div><img src="../assets/p1_2.jpg" /></div>
            <div><img src="../assets/p1_3.jpg" /></div>
            <div><img src="../assets/p1_1.jpg" /></div>
            <div><img src="../assets/p1_2.jpg" /></div>
            <div><img src="../assets/p1_3.jpg" /></div>
            <div><img src="../assets/p1_1.jpg" /></div>
            <div><img src="../assets/p1_2.jpg" /></div>
            <div><img src="../assets/p1_3.jpg" /></div>
          </div>
        </td>
        <td class="gameResultsTable__resultScore">29</td>
      </tr>
      <tr class="gameResultsTable__result">
        <td class="gameResultsTable__resultPlace">9th</td>
        <td>
          <div class="gameResultsTable__patients">
            <div><img src="../assets/p1_1.jpg" /></div>
            <div><img src="../assets/p1_2.jpg" /></div>
            <div><img src="../assets/p1_3.jpg" /></div>
            <div><img src="../assets/p1_1.jpg" /></div>
            <div><img src="../assets/p1_2.jpg" /></div>
            <div><img src="../assets/p1_3.jpg" /></div>
            <div><img src="../assets/p1_1.jpg" /></div>
            <div><img src="../assets/p1_2.jpg" /></div>
          </div>
        </td>
        <td class="gameResultsTable__resultScore">12</td>
      </tr>
      <tr class="gameResultsTable__result gameResultsTable__result--myResult">
        <td class="gameResultsTable__resultPlace gameResultsTable__resultPlace--myResult">
          <div class="circleWrapper">
            <div class="circleContainer">
              <div class="circleContainer__inner">
                <div class="circleContainer__outerBorder">
                  <div class="circleContainer__content">
                    <h3 class="circleContainer__heading">
                      You
                    </h3>
                    <div class="circleContainer__text">10th</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </td>
        <td>
          <div class="gameResultsTable__patients">
            <div><img src="../assets/p1_1.jpg" /></div>
            <div><img src="../assets/p1_2.jpg" /></div>
            <div><img src="../assets/p1_3.jpg" /></div>
            <div><img src="../assets/p1_1.jpg" /></div>
            <div><img src="../assets/p1_2.jpg" /></div>
          </div>
        </td>
        <td class="gameResultsTable__resultScore">9</td>
      </tr>
      <tr class="gameResultsTable__result">
        <td class="gameResultsTable__resultPlace">11th</td>
        <td>
          <div class="gameResultsTable__patients">
            <div><img src="../assets/p1_1.jpg" /></div>
            <div><img src="../assets/p1_2.jpg" /></div>
            <div><img src="../assets/p1_3.jpg" /></div>
            <div><img src="../assets/p1_1.jpg" /></div>
          </div>
        </td>
        <td class="gameResultsTable__resultScore">8</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="pageContainer__footer">
    <hr class="horizontalDottedDelimiter" />
    <span>Toujeo® (insulin glargine 300 U/mL) is registered in Portugal but not marketed. Toujeo® (insulin glargine 300 U/mL) está registado em Portugal mas não é comercializado. Always refer to the prescribing information available in your country. Prescribing information is available at this booth. SAGLB.TJO.17.07.0790 August 2017</span>
  </div>
</div>
