$headerHeight: 50px;
$portraitRowSecond: calc(33.333333% + 10px);
$portraitRowThird: calc(33.333333% + 33.333333% + 10px);
$portraitRowHeight: calc(33.333333% - 10px);
$green: #7ebe71;
$mainColor: #37225c;
$backgroundColor: #f2f1f1;
$borderWidth: 8px;
$image-count: 8;